@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/* Color Palletes */
/* default Element background  color */
/* UI Navbar background  color */
/* UI Segments background  color */
/* UI Skills Grid background  color */
/* UI Experience background  color */
/* UI Timeline Education background  color */
/* UI Hobbies background  color */
/* UI Footer background  color */
/* Loader color */
/* Base Styles */
/* line 2, ../scss/base/_default.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/base/_default.scss */
html, body {
  height: 100%;
}

/* line 12, ../scss/base/_default.scss */
html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../scss/base/_default.scss */
span {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

/* line 25, ../scss/base/_default.scss */
a {
  color: #E25041;
  opacity: 1;
  text-decoration: none;
}
/* line 29, ../scss/base/_default.scss */
a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

/* line 35, ../scss/base/_default.scss */
.content {
  text-align: center;
  margin-top: 2em;
}

@font-face {
  font-family: 'batmanFont';
  src: url("./fonts/batman.ttf");
}
/**
 * Animations
 */
@keyframes Animasearch {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  15%,
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
    clip: rect(0px, 35px, 35px, 0px);
  }
  50% {
    clip: rect(0px, 40px, 40px, 0px);
  }
  100% {
    transform: rotate(360deg);
    clip: rect(0px, 35px, 35px, 0px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    clip: rect(0px, 164px, 150px, 0px);
  }
  50% {
    clip: rect(0px, 164px, 0px, 0px);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
    clip: rect(0px, 164px, 150px, 0px);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes line-scale {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(1) {
  animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(2) {
  animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(3) {
  animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(4) {
  animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(5) {
  animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 28, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

/* Navigation */
/* Header */
/* line 3, ../scss/layouts/_header.scss */
.headerNav {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 1030;
}

/* line 10, ../scss/layouts/_header.scss */
.wrap {
  margin: 0 2em;
}

@media only screen and (max-width: 904px) {
  /* line 15, ../scss/layouts/_header.scss */
  .wrap {
    margin: 0;
  }
}
/* line 1, ../scss/layouts/_main.scss */
main#app {
  height: 100%;
}
/* line 3, ../scss/layouts/_main.scss */
main#app .container {
  height: 100%;
}
/* line 5, ../scss/layouts/_main.scss */
main#app .container .loader-container {
  height: 100%;
}

/* line 1, ../scss/layouts/_footer.scss */
footer {
  position: relative;
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
}
/* line 5, ../scss/layouts/_footer.scss */
footer .container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #6d747c;
}
/* line 12, ../scss/layouts/_footer.scss */
footer .container .row {
  display: flex;
}
/* line 14, ../scss/layouts/_footer.scss */
footer .container .row .column {
  width: 33.3333%;
  text-align: center;
}
/* line 17, ../scss/layouts/_footer.scss */
footer .container .row .column .link {
  color: #6d747c;
  margin: 0 1em;
}
/* line 20, ../scss/layouts/_footer.scss */
footer .container .row .column .link:hover {
  color: #E25041;
}

@media only screen and (max-width: 904px) {
  /* line 32, ../scss/layouts/_footer.scss */
  footer .container .row {
    display: block;
  }
  /* line 34, ../scss/layouts/_footer.scss */
  footer .container .row .column {
    width: 100%;
    margin: 1em 0;
  }
}
/* line 1, ../scss/modules/_hexagon-loader.scss */
.loader-container {
  background-color: #191b1d;
}
/* line 3, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  margin: -80px 0px 0px -80px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #E3E4DC;
}
/* line 14, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader:before {
  content: '';
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  border: 2px solid #898a86;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  clip: rect(0px, 35px, 35px, 0px);
  z-index: 10;
  animation: rotate infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}
/* line 34, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader:after {
  content: '';
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  border: 2px solid #c1bebb;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  clip: rect(0px, 164px, 150px, 0px);
  z-index: 9;
  animation: rotate2 2s linear infinite;
}
/* line 57, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon-container {
  position: relative;
  top: 33px;
  left: 41px;
  border-radius: 50%;
  list-style-type: none;
}
/* line 65, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon {
  position: absolute;
  width: 40px;
  height: 23px;
  background-color: #E25041;
}
/* line 70, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 11.5px solid #E25041;
}
/* line 81, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 11.5px solid #E25041;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_1 {
  top: 0px;
  left: 0px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.10714s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_2 {
  top: 0px;
  left: 42px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.21429s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_3 {
  top: 36px;
  left: 63px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.32143s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_4 {
  top: 72px;
  left: 42px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.42857s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_5 {
  top: 72px;
  left: 0px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.53571s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_6 {
  top: 36px;
  left: -21px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.64286s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_7 {
  top: 36px;
  left: 21px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.75s;
}

/* line 2, ../scss/modules/_buttons.scss */
a.btn {
  text-decoration: none;
}

/* line 6, ../scss/modules/_buttons.scss */
.btn {
  background-color: #E25041;
  color: #f5f5f5;
  padding: 1em;
  border: 0;
  cursor: pointer;
}

/* line 14, ../scss/modules/_buttons.scss */
.btn-o {
  color: #E25041;
}

/* Header */
/* line 3, ../scss/modules/_navigationMenu.scss */
.headerNav {
  background: #f9f9f9;
  height: 60px;
  position: fixed;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 10, ../scss/modules/_navigationMenu.scss */
.logo {
  font-family: inherit;
  font-size: 1.5em;
  margin-left: 1em;
}
/* line 14, ../scss/modules/_navigationMenu.scss */
.logo a {
  color: #191b1d;
  text-decoration: none;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 19, ../scss/modules/_navigationMenu.scss */
.logo a:hover {
  opacity: 0.85;
}

/* line 25, ../scss/modules/_navigationMenu.scss */
.ui.floating.dropdown.labeled.icon.button.language-button {
  display: none;
}

/* Mobile menu */
/* line 29, ../scss/modules/_navigationMenu.scss */
#menu-icon {
  display: block;
  font-size: 2.5rem;
  color: #191b1d;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  padding: 0 .5em;
}
/* line 39, ../scss/modules/_navigationMenu.scss */
#menu-icon:hover {
  opacity: 0.85;
  text-decoration: none;
  border: none;
}

/* line 46, ../scss/modules/_navigationMenu.scss */
.navigation-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 53, ../scss/modules/_navigationMenu.scss */
.navbar {
  background-color: #f9f9f9;
  height: 0;
  overflow-y: scroll;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
/* line 58, ../scss/modules/_navigationMenu.scss */
.navbar.active {
  height: 300px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
/* line 63, ../scss/modules/_navigationMenu.scss */
.navbar .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 67, ../scss/modules/_navigationMenu.scss */
.navbar .menu li {
  list-style-type: none;
  display: block;
  text-transform: uppercase;
}
/* line 71, ../scss/modules/_navigationMenu.scss */
.navbar .menu li.language-responsive-button {
  display: block;
}
/* line 74, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a {
  display: block;
  height: 50px;
  padding: 15px;
  text-decoration: none;
  color: #191b1d;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 82, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a:hover {
  color: #E25041;
}
/* line 86, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a.active {
  color: #E25041;
}

/* line 95, ../scss/modules/_navigationMenu.scss */
.expand {
  max-height: 20em;
}

@media only screen and (min-width: 904px) {
  /* line 101, ../scss/modules/_navigationMenu.scss */
  .wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* line 108, ../scss/modules/_navigationMenu.scss */
  .logo {
    margin-left: 0;
  }

  /* line 112, ../scss/modules/_navigationMenu.scss */
  .logo, .navbar {
    display: inline-block;
  }

  /* Mobile menu icon */
  /* line 117, ../scss/modules/_navigationMenu.scss */
  #menu-icon {
    display: none;
  }

  /* line 120, ../scss/modules/_navigationMenu.scss */
  .ui.floating.dropdown.labeled.icon.button.language-button {
    display: block;
    float: right;
    background-color: #34495e;
    color: #191b1d;
  }

  /* line 126, ../scss/modules/_navigationMenu.scss */
  .navbar {
    height: 60px;
    overflow-y: hidden;
  }
  /* line 131, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
  }
  /* line 136, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li.language-responsive-button {
    display: none;
  }
  /* line 139, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a {
    display: block;
    border-bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
  }
  /* line 149, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a:hover {
    box-shadow: 0 -3px 0 #E25041 inset;
  }
  /* line 153, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a.active {
    box-shadow: 0 -3px 0 #E25041 inset;
  }
}
@-moz-keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
/* line 7, ../scss/modules/_blinker.scss */
.blinker {
  font-size: 35px;
  -moz-animation-name: blinker;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -moz-animation-duration: 1.67s;
  -webkit-animation-duration: 1.67s;
  animation-duration: 1.67s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 1, ../scss/modules/_segment.scss */
.segment {
  text-align: center;
  padding: 100px 2em;
}
/* line 5, ../scss/modules/_segment.scss */
.segment.home {
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
/* line 11, ../scss/modules/_segment.scss */
.segment.home h2 {
  font-weight: 500;
}
/* line 14, ../scss/modules/_segment.scss */
.segment.home h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 8px;
}
/* line 19, ../scss/modules/_segment.scss */
.segment.home img.ui.medium.circular.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}
/* line 24, ../scss/modules/_segment.scss */
.segment.home .row {
  display: flex;
  justify-content: center;
}
/* line 27, ../scss/modules/_segment.scss */
.segment.home .row .link {
  color: #f5f5f5;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1em .5em;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* line 35, ../scss/modules/_segment.scss */
.segment.home .row .link:hover {
  background-color: #E25041;
}
/* line 38, ../scss/modules/_segment.scss */
.segment.home .row .link i {
  vertical-align: bottom;
}
/* line 45, ../scss/modules/_segment.scss */
.segment .container {
  margin: auto;
}
/* line 47, ../scss/modules/_segment.scss */
.segment .container .segment-title {
  font-size: 3rem;
}
/* line 51, ../scss/modules/_segment.scss */
.segment .container hr {
  border-color: #E25041;
  border-top: 0;
  max-width: 50px;
  margin: 30px auto;
}
/* line 59, ../scss/modules/_segment.scss */
.segment.dark {
  background-color: #191b1d;
  color: #f9f9f9;
}
/* line 63, ../scss/modules/_segment.scss */
.segment.light {
  background-color: #f9f9f9;
  color: #191b1d;
}

@media (min-width: 1200px) {
  /* line 71, ../scss/modules/_segment.scss */
  .segment .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  /* line 78, ../scss/modules/_segment.scss */
  .segment {
    padding: 100px 1em;
  }
  /* line 80, ../scss/modules/_segment.scss */
  .segment .container {
    max-width: 970px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 87, ../scss/modules/_segment.scss */
  .segment {
    padding: 100px 10px;
  }
  /* line 90, ../scss/modules/_segment.scss */
  .segment.home h1 {
    font-size: 32px;
  }
  /* line 93, ../scss/modules/_segment.scss */
  .segment.home h2 {
    font-size: 16px;
  }
  /* line 98, ../scss/modules/_segment.scss */
  .segment .container .segment-title {
    font-size: 40px;
  }
}
/* line 2, ../scss/modules/_experience-grid.scss */
.segment.experience .highlight-experience {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
/* line 6, ../scss/modules/_experience-grid.scss */
.segment.experience .highlight-experience .column {
  background-color: #202325;
  padding: 35px;
  width: 345px;
}
/* line 10, ../scss/modules/_experience-grid.scss */
.segment.experience .highlight-experience .column .title {
  font-size: 13px;
  margin: 25px 0 0 0;
  text-transform: uppercase;
  letter-spacing: .2em;
}
/* line 18, ../scss/modules/_experience-grid.scss */
.segment.experience.light {
  position: relative;
}
/* line 20, ../scss/modules/_experience-grid.scss */
.segment.experience.light .container {
  position: relative;
  max-width: 800px;
}
/* line 23, ../scss/modules/_experience-grid.scss */
.segment.experience.light .container:before {
  content: "";
  position: absolute;
  width: 1px;
  top: -100px;
  bottom: -100px;
  left: 32.5%;
  background-color: #e7e7e7;
}
/* line 34, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 3em auto; */
  margin-bottom: 50px;
}
/* line 42, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column {
  text-align: left;
}
/* line 45, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column:hover:after {
  background-color: #EF2D56 !important;
}
/* line 49, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column:first-child {
  width: 25%;
  position: relative;
}
/* line 52, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column:first-child:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #EF2D56;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 100;
  margin-left: -6px;
  border-radius: 50%;
}
/* line 68, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column:last-child {
  width: 55%;
  margin-left: 5%;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 74, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column h3 {
  text-transform: uppercase;
  font-weight: 500;
}
/* line 78, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column .company-name {
  color: #E25041;
}
/* line 81, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column .job-date {
  font-weight: 500;
}
/* line 84, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column .job-type {
  font-weight: 700;
}
/* line 87, ../scss/modules/_experience-grid.scss */
.segment.experience .experience-grid .column .job-description {
  white-space: pre;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  /* line 97, ../scss/modules/_experience-grid.scss */
  .segment.experience .highlight-experience {
    display: block;
  }
  /* line 99, ../scss/modules/_experience-grid.scss */
  .segment.experience .highlight-experience .column {
    width: 100%;
  }
  /* line 106, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container:before {
    display: none;
  }
  /* line 109, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container .experience-grid {
    display: block;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 25px;
  }
  /* line 113, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container .experience-grid .column {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* line 118, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container .experience-grid .column:first-child:after {
    display: none;
  }
  /* line 122, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container .experience-grid .column:last-child {
    margin-top: 1em;
  }
  /* line 125, ../scss/modules/_experience-grid.scss */
  .segment.experience.light .container .experience-grid .column .job-description {
    white-space: normal;
  }
}
/* line 1, ../scss/modules/_progress-bar.scss */
.progress-wrapper {
  background-color: #f9f9f9;
  height: 2px;
  margin-top: 1em;
}
/* line 5, ../scss/modules/_progress-bar.scss */
.progress-wrapper .progress {
  background-color: #E25041;
  height: 100%;
  width: 0;
  position: relative;
}
/* line 10, ../scss/modules/_progress-bar.scss */
.progress-wrapper .progress .skills-percent {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 15px;
}

/* line 2, ../scss/modules/_skills-grid.scss */
.segment.skills .row {
  display: flex;
  justify-content: space-around;
}
/* line 5, ../scss/modules/_skills-grid.scss */
.segment.skills .row .column {
  width: 40%;
  text-align: left;
}
/* line 8, ../scss/modules/_skills-grid.scss */
.segment.skills .row .column h3 {
  font-size: 25px;
}
/* line 11, ../scss/modules/_skills-grid.scss */
.segment.skills .row .column .skill {
  margin: 5px 0px;
  display: block;
  text-transform: uppercase;
}
/* line 18, ../scss/modules/_skills-grid.scss */
.segment.skills .resume-project {
  margin: 1em 0;
  font-style: italic;
}
/* line 21, ../scss/modules/_skills-grid.scss */
.segment.skills .resume-project .btn {
  font-style: normal;
  display: block;
  max-width: 200px;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

@media only screen and (max-width: 904px) {
  /* line 36, ../scss/modules/_skills-grid.scss */
  .segment.skills .row {
    flex-direction: column;
  }
  /* line 38, ../scss/modules/_skills-grid.scss */
  .segment.skills .row .column {
    width: 100%;
  }
}
/* line 2, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}
/* line 5, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards .card {
  width: 45%;
  margin: 1.5em;
}
/* line 8, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards .card img {
  max-width: 150px;
}

@media only screen and (max-width: 991px) {
  /* line 16, ../scss/modules/_portfolio.scss */
  .segment.portfolio .portfolio-cards {
    justify-content: center;
  }
}
/* line 3, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
/* line 7, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column {
  margin: 0 1em;
  width: 33.333333333%;
}
/* line 10, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column .circular-font {
  border: 1px solid;
  border-radius: 50%;
  padding: 15px;
  max-width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
/* line 18, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column .circular-font .fa {
  font-size: 30px;
}
/* line 22, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column h4, .segment.hobbies .container .row .column h5 {
  font-weight: 200;
  font-size: 15px;
}
/* line 26, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column span.batmanIcon {
  font-family: "batmanFont";
  font-size: 33px;
  border-radius: 50%;
  border: 1px solid;
  padding: 0.25em;
  width: 2em;
  height: 64px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  /* line 47, ../scss/modules/_hobbies.scss */
  .segment.hobbies .container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  /* line 52, ../scss/modules/_hobbies.scss */
  .segment.hobbies .container .row .column {
    width: 100%;
    margin-bottom: 1em;
  }
}
/* line 2, ../scss/modules/_contact.scss */
.segment.contact .contact-form {
  max-width: 500px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../scss/modules/_contact.scss */
.segment.contact .contact-form .field {
  margin-bottom: 1.5em;
}
/* line 9, ../scss/modules/_contact.scss */
.segment.contact .contact-form .field input, .segment.contact .contact-form .field textarea {
  padding: 18px 24px;
  height: 55px;
  border-radius: 0;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: none;
  border-color: #e7e7e7;
  width: 100%;
  border: 1px solid #ccc;
}
/* line 21, ../scss/modules/_contact.scss */
.segment.contact .contact-form .field input:focus, .segment.contact .contact-form .field textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #E25041;
}
/* line 27, ../scss/modules/_contact.scss */
.segment.contact .contact-form .field textarea {
  min-height: 100px;
}
/* line 32, ../scss/modules/_contact.scss */
.segment.contact button {
  font-size: 15px;
  font-weight: 200;
  min-width: 250px;
  min-height: 50px;
  padding: 0;
  text-transform: uppercase;
}
/* line 41, ../scss/modules/_contact.scss */
.segment.contact button .loader .loader-inner.line-scale div {
  margin: 8px 3px 3px 3px;
  height: 30px;
}
/* line 48, ../scss/modules/_contact.scss */
.segment.contact .message {
  margin-top: 1em;
}
/* line 50, ../scss/modules/_contact.scss */
.segment.contact .message.negative {
  color: #E25041;
}
/* line 53, ../scss/modules/_contact.scss */
.segment.contact .message.positive {
  color: green;
}

/*# sourceMappingURL=main.css.map */
