/* Color Palletes */
/* default Element background  color */
/* UI Navbar background  color */
/* UI Segments background  color */
/* UI Skills Grid background  color */
/* UI Experience background  color */
/* UI Timeline Education background  color */
/* UI Hobbies background  color */
/* UI Footer background  color */
/* Loader color */
/* Base Styles */
/* line 2, ../scss/base/_default.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/base/_default.scss */
html, body {
  height: 100%;
}

/* line 12, ../scss/base/_default.scss */
html {
  font-size: 100%;
  font-family: 'SF-Pro';
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../scss/base/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 24, ../scss/base/_default.scss */
span {
  font-size: 14px;
  font-family: 'SF-Pro';
  font-weight: normal;
}

/* line 29, ../scss/base/_default.scss */
a {
  color: #ff656e;
  opacity: 1;
  text-decoration: none;
}
/* line 33, ../scss/base/_default.scss */
a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

/* line 39, ../scss/base/_default.scss */
.content {
  text-align: center;
  margin-top: 2em;
}

/* line 44, ../scss/base/_default.scss */
.white {
  color: #f9f9f9 !important;
}

@font-face {
  font-family: 'batmanFont';
  src: url("./fonts/batman.ttf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/SF-Pro-Text-Light.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/SF-Pro-Text-LightItalic.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Text-RegularItalic.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SF-Pro-Text-Medium.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/SF-Pro-Text-MediumItalic.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/SF-Pro-Text-Semibold.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/SF-Pro-Text-SemiboldItalic.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/SF-Pro-Text-Bold.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/SF-Pro-Text-BoldItalic.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/SF-Pro-Text-Heavy.otf");
}
@font-face {
  font-family: 'SF-Pro';
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/SF-Pro-Text-HeavyItalic.otf");
}
/**
 * Animations
 */
@keyframes Animasearch {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  15%,
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
    clip: rect(0px, 35px, 35px, 0px);
  }
  50% {
    clip: rect(0px, 40px, 40px, 0px);
  }
  100% {
    transform: rotate(360deg);
    clip: rect(0px, 35px, 35px, 0px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    clip: rect(0px, 164px, 150px, 0px);
  }
  50% {
    clip: rect(0px, 164px, 0px, 0px);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
    clip: rect(0px, 164px, 150px, 0px);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes line-scale {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(1) {
  animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(2) {
  animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(3) {
  animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(4) {
  animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(5) {
  animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 28, ../../node_modules/loaders.css/src/animations/line-scale.scss */
.line-scale > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

/* Navigation */
/* Header */
/* line 3, ../scss/layouts/_header.scss */
.headerNav {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 1030;
}

/* line 10, ../scss/layouts/_header.scss */
.wrap {
  margin: 0 2em;
}

@media only screen and (max-width: 904px) {
  /* line 15, ../scss/layouts/_header.scss */
  .wrap {
    margin: 0;
  }
}
/* line 1, ../scss/layouts/_main.scss */
main#app {
  height: 100%;
}
/* line 3, ../scss/layouts/_main.scss */
main#app .container {
  height: 100%;
}
/* line 5, ../scss/layouts/_main.scss */
main#app .container .loader-container {
  height: 100%;
}

/* line 1, ../scss/layouts/_footer.scss */
footer {
  position: relative;
  background-color: #f9f9f9;
}
/* line 4, ../scss/layouts/_footer.scss */
footer .container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #9C9C9C;
}
/* line 11, ../scss/layouts/_footer.scss */
footer .container .row {
  display: flex;
}
/* line 13, ../scss/layouts/_footer.scss */
footer .container .row .column {
  width: 33.3333%;
  text-align: center;
}
/* line 16, ../scss/layouts/_footer.scss */
footer .container .row .column .link {
  color: #9C9C9C;
  margin: 0 1em;
}
/* line 19, ../scss/layouts/_footer.scss */
footer .container .row .column .link:hover {
  color: #ff656e;
}

@media only screen and (max-width: 904px) {
  /* line 31, ../scss/layouts/_footer.scss */
  footer .container .row {
    display: block;
  }
  /* line 33, ../scss/layouts/_footer.scss */
  footer .container .row .column {
    width: 100%;
    margin: 1em 0;
  }
}
/* line 1, ../scss/modules/_hexagon-loader.scss */
.loader-container {
  background-image: linear-gradient(to right, #ffb681, #ff656e);
}
/* line 3, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  margin: -80px 0px 0px -80px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #E3E4DC;
}
/* line 14, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader:before {
  content: '';
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  border: 2px solid #ffb681;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  clip: rect(0px, 35px, 35px, 0px);
  z-index: 10;
  animation: rotate infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}
/* line 34, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader:after {
  content: '';
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  border: 2px solid #ff656e;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  clip: rect(0px, 164px, 150px, 0px);
  z-index: 9;
  animation: rotate2 2s linear infinite;
}
/* line 57, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon-container {
  position: relative;
  top: 33px;
  left: 41px;
  border-radius: 50%;
  list-style-type: none;
}
/* line 65, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon {
  position: absolute;
  width: 40px;
  height: 23px;
  background-color: #f9f9f9;
}
/* line 70, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 11.5px solid #f9f9f9;
}
/* line 81, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 11.5px solid #f9f9f9;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_1 {
  top: 0px;
  left: 0px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.10714s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_2 {
  top: 0px;
  left: 42px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.21429s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_3 {
  top: 36px;
  left: 63px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.32143s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_4 {
  top: 72px;
  left: 42px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.42857s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_5 {
  top: 72px;
  left: 0px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.53571s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_6 {
  top: 36px;
  left: -21px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.64286s;
}
/* line 101, ../scss/modules/_hexagon-loader.scss */
.loader-container .hexagon-loader .hexagon.hex_7 {
  top: 36px;
  left: 21px;
  animation: Animasearch 1.5s ease-in-out infinite;
  animation-delay: 0.75s;
}

/* line 2, ../scss/modules/_buttons.scss */
a.btn {
  text-decoration: none;
}

/* line 6, ../scss/modules/_buttons.scss */
.btn {
  background-color: #ff656e;
  color: #f9f9f9;
  padding: 1em;
  border: 0;
  cursor: pointer;
}

/* line 14, ../scss/modules/_buttons.scss */
.btn-o {
  background-color: #f9f9f9;
  padding: .5em;
  border-radius: 5px;
  cursor: pointer;
  color: #202325;
}
/* line 20, ../scss/modules/_buttons.scss */
.btn-o:hover {
  text-decoration: none;
}

/* line 25, ../scss/modules/_buttons.scss */
.btn-l {
  cursor: pointer;
  color: #ff656e;
}
/* line 28, ../scss/modules/_buttons.scss */
.btn-l:hover {
  text-decoration: none;
}

/* Header */
/* line 3, ../scss/modules/_navigationMenu.scss */
.headerNav {
  background: #f9f9f9;
  height: 60px;
  position: fixed;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 10, ../scss/modules/_navigationMenu.scss */
.logo {
  font-family: inherit;
  font-size: 1.5em;
  margin-left: 1em;
}
/* line 14, ../scss/modules/_navigationMenu.scss */
.logo a {
  color: #191b1d;
  text-decoration: none;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 19, ../scss/modules/_navigationMenu.scss */
.logo a:hover {
  opacity: 0.85;
}

/* line 25, ../scss/modules/_navigationMenu.scss */
.ui.floating.dropdown.labeled.icon.button.language-button {
  display: none;
}

/* Mobile menu */
/* line 29, ../scss/modules/_navigationMenu.scss */
#menu-icon {
  display: block;
  font-size: 2.5rem;
  color: #191b1d;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  padding: 0 .5em;
}
/* line 39, ../scss/modules/_navigationMenu.scss */
#menu-icon:hover {
  opacity: 0.85;
  text-decoration: none;
  border: none;
}

/* line 46, ../scss/modules/_navigationMenu.scss */
.navigation-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 53, ../scss/modules/_navigationMenu.scss */
.navbar {
  background-color: #f9f9f9;
  height: 0;
  overflow-y: scroll;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
/* line 58, ../scss/modules/_navigationMenu.scss */
.navbar.active {
  height: 300px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
/* line 63, ../scss/modules/_navigationMenu.scss */
.navbar .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 67, ../scss/modules/_navigationMenu.scss */
.navbar .menu li {
  list-style-type: none;
  display: block;
}
/* line 70, ../scss/modules/_navigationMenu.scss */
.navbar .menu li.language-responsive-button {
  display: block;
}
/* line 73, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a {
  display: block;
  height: 50px;
  padding: 15px;
  text-decoration: none;
  color: #191b1d;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 81, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a:hover {
  color: #ff656e;
}
/* line 85, ../scss/modules/_navigationMenu.scss */
.navbar .menu li a.active {
  color: #ff656e;
}

/* line 94, ../scss/modules/_navigationMenu.scss */
.expand {
  max-height: 20em;
}

@media only screen and (min-width: 904px) {
  /* line 100, ../scss/modules/_navigationMenu.scss */
  .wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* line 107, ../scss/modules/_navigationMenu.scss */
  .logo {
    margin-left: 0;
  }

  /* line 111, ../scss/modules/_navigationMenu.scss */
  .logo, .navbar {
    display: inline-block;
  }

  /* Mobile menu icon */
  /* line 116, ../scss/modules/_navigationMenu.scss */
  #menu-icon {
    display: none;
  }

  /* line 119, ../scss/modules/_navigationMenu.scss */
  .ui.floating.dropdown.labeled.icon.button.language-button {
    display: block;
    float: right;
    background-color: #34495e;
    color: #191b1d;
  }

  /* line 125, ../scss/modules/_navigationMenu.scss */
  .navbar {
    height: 60px;
    overflow-y: hidden;
  }
  /* line 130, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
  }
  /* line 135, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li.language-responsive-button {
    display: none;
  }
  /* line 138, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a {
    display: block;
    border-bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  /* line 148, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a:hover {
    box-shadow: 0 -3px 0 #ff656e inset;
  }
  /* line 152, ../scss/modules/_navigationMenu.scss */
  .navbar .menu li a.active {
    box-shadow: 0 -3px 0 #ff656e inset;
  }
}
@-moz-keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
/* line 7, ../scss/modules/_blinker.scss */
.blinker {
  font-size: 35px;
  -moz-animation-name: blinker;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -moz-animation-duration: 1.67s;
  -webkit-animation-duration: 1.67s;
  animation-duration: 1.67s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 1, ../scss/modules/_segment.scss */
.segment {
  padding: 100px 2em;
}
/* line 3, ../scss/modules/_segment.scss */
.segment.home {
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
/* line 9, ../scss/modules/_segment.scss */
.segment.home .header {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 14, ../scss/modules/_segment.scss */
.segment.home .content {
  width: 100%;
  text-align: center;
  color: #f9f9f9;
  max-width: 850px;
  border-radius: 12px;
  padding: 4em 0em;
}
/* line 22, ../scss/modules/_segment.scss */
.segment.home .content h1 {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 500;
}
/* line 28, ../scss/modules/_segment.scss */
.segment.home .content h2 {
  text-transform: uppercase;
  font-weight: 500;
}
/* line 32, ../scss/modules/_segment.scss */
.segment.home .content hr {
  width: 70px;
  height: 2px;
  background-color: #f9f9f9;
  border: 0;
  margin: 2em auto;
}
/* line 39, ../scss/modules/_segment.scss */
.segment.home .content .avatar {
  max-width: 150px;
  margin-bottom: 1em;
}
/* line 44, ../scss/modules/_segment.scss */
.segment.home .content img.circular.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}
/* line 49, ../scss/modules/_segment.scss */
.segment.home .content .row {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
/* line 53, ../scss/modules/_segment.scss */
.segment.home .content .row .link {
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0em 1em;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* line 61, ../scss/modules/_segment.scss */
.segment.home .content .row .link:hover {
  background-color: #ff656e;
}
/* line 64, ../scss/modules/_segment.scss */
.segment.home .content .row .link i {
  vertical-align: bottom;
}
/* line 71, ../scss/modules/_segment.scss */
.segment.about {
  position: relative;
  z-index: 1;
}
/* line 74, ../scss/modules/_segment.scss */
.segment.about::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-image: url("../images/lightBackgroundPattern.png");
  z-index: -1;
}
/* line 86, ../scss/modules/_segment.scss */
.segment.about #about {
  margin-bottom: 5em;
}
/* line 89, ../scss/modules/_segment.scss */
.segment.about .about-row {
  z-index: 2;
  display: flex;
  max-width: 1062px;
  margin-left: auto;
  margin-right: auto;
}
/* line 95, ../scss/modules/_segment.scss */
.segment.about .about-row .col-container {
  max-width: 325px;
  margin: 0 2em;
}
/* line 98, ../scss/modules/_segment.scss */
.segment.about .about-row .col-container .segment-title {
  font-size: 20px;
  font-weight: 500;
  color: #ffb681;
  margin-bottom: 1em;
}
/* line 103, ../scss/modules/_segment.scss */
.segment.about .about-row .col-container .segment-title i {
  margin-right: 1em;
}
/* line 107, ../scss/modules/_segment.scss */
.segment.about .about-row .col-container p {
  white-space: pre-line;
  text-align: left;
}
/* line 110, ../scss/modules/_segment.scss */
.segment.about .about-row .col-container p span {
  margin-bottom: 1em;
  display: block;
  font-weight: 300;
}
/* line 121, ../scss/modules/_segment.scss */
.segment.portfolio .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* line 128, ../scss/modules/_segment.scss */
.segment .segment-title.light {
  font-size: 35px;
  font-weight: 400;
  color: #f9f9f9;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 136, ../scss/modules/_segment.scss */
.segment .point {
  color: #ff656e;
  font-size: 5rem;
  line-height: 45px;
}
/* line 142, ../scss/modules/_segment.scss */
.segment.dark {
  background: linear-gradient(to right, #ffb681, #ff656e);
  color: #f9f9f9;
}
/* line 146, ../scss/modules/_segment.scss */
.segment.light {
  background-color: #f9f9f9;
  color: #191b1d;
}

@media (max-width: 992px) {
  /* line 156, ../scss/modules/_segment.scss */
  .segment.about .about-row {
    flex-direction: column;
  }
  /* line 158, ../scss/modules/_segment.scss */
  .segment.about .about-row .col-container {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin: 2em auto;
  }
}
@media (max-width: 768px) {
  /* line 170, ../scss/modules/_segment.scss */
  .segment {
    padding: 50px 1.8em;
  }
  /* line 173, ../scss/modules/_segment.scss */
  .segment.about .about-row {
    flex-direction: column;
  }
  /* line 175, ../scss/modules/_segment.scss */
  .segment.about .about-row .col-container {
    margin: 2em 0em;
    width: 100%;
  }
}
/* line 1, ../scss/modules/_education-grid.scss */
.education-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 5, ../scss/modules/_education-grid.scss */
.education-grid .row {
  margin: 5px 0;
  text-align: left;
}
/* line 8, ../scss/modules/_education-grid.scss */
.education-grid .row h3 {
  font-weight: 500;
}
/* line 11, ../scss/modules/_education-grid.scss */
.education-grid .row h5 {
  color: #9C9C9C;
}
/* line 13, ../scss/modules/_education-grid.scss */
.education-grid .row h5 i {
  margin-right: 1em;
}

/* line 1, ../scss/modules/_experience-grid.scss */
.experience-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 5, ../scss/modules/_experience-grid.scss */
.experience-grid .row {
  display: flex;
  text-align: left;
  margin: 5px 0;
}
/* line 9, ../scss/modules/_experience-grid.scss */
.experience-grid .row h5 {
  color: #9C9C9C;
}
/* line 11, ../scss/modules/_experience-grid.scss */
.experience-grid .row h5 i {
  margin-right: 1em;
}
/* line 15, ../scss/modules/_experience-grid.scss */
.experience-grid .row .job-title {
  font-weight: 500;
}
/* line 18, ../scss/modules/_experience-grid.scss */
.experience-grid .row .job-type {
  font-weight: 500;
  margin-left: 2em;
  background-color: #FFB180;
  padding: 1px 5px;
  color: white;
  border-radius: 5px;
}

/* line 1, ../scss/modules/_progress-bar.scss */
.progress-wrapper {
  background-color: #9C9C9C;
  height: 2px;
  margin-top: 1em;
}
/* line 5, ../scss/modules/_progress-bar.scss */
.progress-wrapper .progress {
  background-color: #ff656e;
  height: 100%;
  width: 0;
  position: relative;
}
/* line 10, ../scss/modules/_progress-bar.scss */
.progress-wrapper .progress .skills-percent {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 15px;
}

@media (max-width: 768px) {
  /* line 21, ../scss/modules/_progress-bar.scss */
  .progress-wrapper {
    margin-top: 1.5em;
  }
}
/* line 27, ../scss/modules/_progress-bar.scss */
.main-skills .progress-bar-container {
  background-color: #E5E5E5;
  width: 80%;
  height: 12px;
  margin: 1em auto;
  border-radius: 4px;
}
/* line 33, ../scss/modules/_progress-bar.scss */
.main-skills .progress-bar-container .progress {
  height: 100%;
  border-radius: 4px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
    display: none;
  }
}
/* line 19, ../scss/modules/_skills-grid.scss */
.skills-grid {
  text-align: center;
}
/* line 21, ../scss/modules/_skills-grid.scss */
.skills-grid .segment-title {
  font-weight: 500;
  font-size: 25px;
}
/* line 25, ../scss/modules/_skills-grid.scss */
.skills-grid .row {
  display: flex;
  justify-content: center;
}
/* line 29, ../scss/modules/_skills-grid.scss */
.skills-grid .main-skills, .skills-grid .companions {
  max-width: 800px;
  margin: 2em auto;
}
/* line 32, ../scss/modules/_skills-grid.scss */
.skills-grid .main-skills .segment-title, .skills-grid .companions .segment-title {
  margin: 2em 0;
}
/* line 35, ../scss/modules/_skills-grid.scss */
.skills-grid .main-skills .column, .skills-grid .companions .column {
  flex-grow: 1;
  flex-basis: 0;
}
/* line 38, ../scss/modules/_skills-grid.scss */
.skills-grid .main-skills .column .skill-title, .skills-grid .companions .column .skill-title {
  font-weight: 500;
  font-size: 15px;
}
/* line 45, ../scss/modules/_skills-grid.scss */
.skills-grid hr {
  max-width: 800px;
  margin: 2em auto;
  background-color: rgba(151, 151, 151, 0.5);
  height: 2px;
  border: 0;
}
/* line 53, ../scss/modules/_skills-grid.scss */
.skills-grid .container.shown {
  display: block;
  animation: slide-down 1s ease-out;
}
/* line 57, ../scss/modules/_skills-grid.scss */
.skills-grid .container.hidden {
  display: none;
  animation: slide-up 1s ease-out;
}
/* line 61, ../scss/modules/_skills-grid.scss */
.skills-grid .container .row {
  display: flex;
  justify-content: space-around;
}
/* line 64, ../scss/modules/_skills-grid.scss */
.skills-grid .container .row .column {
  width: 40%;
  text-align: left;
}
/* line 67, ../scss/modules/_skills-grid.scss */
.skills-grid .container .row .column h3 {
  font-size: 25px;
}
/* line 70, ../scss/modules/_skills-grid.scss */
.skills-grid .container .row .column .skill {
  margin: 5px 0px;
  display: block;
  text-transform: uppercase;
}
/* line 77, ../scss/modules/_skills-grid.scss */
.skills-grid .container .resume-project {
  margin: 1em 0;
  font-style: italic;
}
/* line 80, ../scss/modules/_skills-grid.scss */
.skills-grid .container .resume-project .btn {
  font-style: normal;
  display: block;
  max-width: 200px;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
/* line 92, ../scss/modules/_skills-grid.scss */
.skills-grid .detail-button {
  font-size: 18px;
  font-weight: 500;
  margin-top: 3em;
}
/* line 97, ../scss/modules/_skills-grid.scss */
.skills-grid .chevron-button {
  background-color: #ff656e;
  width: 40px;
  height: 40px;
  color: #f9f9f9;
  border-radius: 50%;
  margin: 1em auto;
  cursor: pointer;
}
/* line 105, ../scss/modules/_skills-grid.scss */
.skills-grid .chevron-button i {
  vertical-align: -13px;
  font-size: 30px;
}

@media only screen and (max-width: 904px) {
  /* line 115, ../scss/modules/_skills-grid.scss */
  .skills-grid .container .row {
    flex-direction: column;
  }
  /* line 117, ../scss/modules/_skills-grid.scss */
  .skills-grid .container .row .column {
    width: 100%;
  }
}
@media (max-width: 600px) {
  /* line 127, ../scss/modules/_skills-grid.scss */
  .skills-grid .row {
    flex-direction: column;
  }
  /* line 129, ../scss/modules/_skills-grid.scss */
  .skills-grid .row .column {
    width: 100%;
    margin: 1em 0;
  }
}
/* line 1, ../scss/modules/_portfolio.scss */
.segment.portfolio {
  position: relative;
  z-index: 1;
}
/* line 4, ../scss/modules/_portfolio.scss */
.segment.portfolio .backgroundPattern {
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/darkBackgroundPattern.png");
  z-index: -1;
}
/* line 14, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 18, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards .card {
  width: 35%;
  margin: 1.5em;
  background-color: #f9f9f9;
  color: black;
  padding: 2em;
  border-radius: 12px;
  text-align: center;
}
/* line 26, ../scss/modules/_portfolio.scss */
.segment.portfolio .portfolio-cards .card img {
  max-width: 120px;
}

@media only screen and (max-width: 991px) {
  /* line 34, ../scss/modules/_portfolio.scss */
  .segment.portfolio .portfolio-cards {
    justify-content: center;
  }
  /* line 36, ../scss/modules/_portfolio.scss */
  .segment.portfolio .portfolio-cards .card {
    width: 90%;
  }
}
/* line 3, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
/* line 7, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column {
  margin: 0 1em;
  width: 33.333333333%;
}
/* line 10, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column .circular-font {
  border: 1px solid;
  border-radius: 50%;
  padding: 15px;
  max-width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
/* line 18, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column .circular-font .fa {
  font-size: 30px;
}
/* line 22, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column h4, .segment.hobbies .container .row .column h5 {
  font-weight: 200;
  font-size: 15px;
}
/* line 26, ../scss/modules/_hobbies.scss */
.segment.hobbies .container .row .column span.batmanIcon {
  font-family: "batmanFont";
  font-size: 33px;
  border-radius: 50%;
  border: 1px solid;
  padding: 0.25em;
  width: 2em;
  height: 64px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  /* line 47, ../scss/modules/_hobbies.scss */
  .segment.hobbies .container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  /* line 52, ../scss/modules/_hobbies.scss */
  .segment.hobbies .container .row .column {
    width: 100%;
    margin-bottom: 1em;
  }
}
/* line 1, ../scss/modules/_contact.scss */
.segment.contact {
  text-align: center;
}
/* line 3, ../scss/modules/_contact.scss */
.segment.contact .segment-title {
  font-size: 35px;
  font-weight: 400;
  color: #202325;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 10, ../scss/modules/_contact.scss */
.segment.contact .subtitle {
  font-size: 25px;
  font-weight: 300;
  color: #202325;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 17, ../scss/modules/_contact.scss */
.segment.contact hr {
  border: 0;
  background-color: rgba(151, 151, 151, 0.5);
  width: 200px;
  margin: 2em auto;
  height: 2px;
}
/* line 24, ../scss/modules/_contact.scss */
.segment.contact .contact-form {
  max-width: 800px;
  margin: 3em auto;
}
/* line 27, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row {
  display: flex;
  justify-content: center;
}
/* line 30, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column {
  width: 100%;
}
/* line 32, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column:first-child {
  margin-right: 6em;
}
/* line 35, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column .field {
  margin-bottom: 1.5em;
  width: 100%;
  text-align: left;
}
/* line 39, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column .field .header {
  font-weight: 300;
}
/* line 42, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column .field input, .segment.contact .contact-form .row .column .field textarea {
  padding: 18px 0 18px 0;
  height: 60px;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: none;
  width: 100%;
  font-weight: 300;
  background-color: transparent;
  border-bottom: 2px solid #e7e7e7;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "SF-Pro";
}
/* line 56, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column .field input:focus, .segment.contact .contact-form .row .column .field textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #ff656e;
}
/* line 62, ../scss/modules/_contact.scss */
.segment.contact .contact-form .row .column .field textarea {
  width: 100%;
  min-height: 170px;
}
/* line 70, ../scss/modules/_contact.scss */
.segment.contact button {
  font-size: 15px;
  font-weight: 200;
  min-width: 250px;
  min-height: 50px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #202325;
  border-radius: 56px;
  border: 1px solid;
  border-color: #979797;
}
/* line 85, ../scss/modules/_contact.scss */
.segment.contact button .loader .loader-inner.line-scale div {
  margin: 8px 3px 3px 3px;
  height: 30px;
  background-color: #ff656e;
}
/* line 93, ../scss/modules/_contact.scss */
.segment.contact .message {
  margin-top: 1em;
}
/* line 95, ../scss/modules/_contact.scss */
.segment.contact .message.negative {
  color: #ff656e;
}
/* line 98, ../scss/modules/_contact.scss */
.segment.contact .message.positive {
  color: green;
}

@media (max-width: 768px) {
  /* line 107, ../scss/modules/_contact.scss */
  .segment.contact .contact-form .row {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
