@import "compass/css3";
@import "compass/css3/animation";
@import 'compass';

// Typography
$base-font: "SF-Pro";

/* Color Palletes */
$awesome-white: #f9f9f9;
$red: #ff656e;
$gray: #9C9C9C;
$flatgray: #e7e7e7;
$black: #34495e;
$flat-whiteCloud: #ecf0f1;
$flat-graySmoke: #bdc3c7;
$flat-blueWhale: #28324E;
$flat-NightBlue: #284058;
$flat-NightBlue2: #34495E;
$flat-whiteSmoke: #EFEFEF;
$flat-black: #202325;
$flat-black2: #191b1d;
$gray-smoked: #7D7D7D;

$flat-purple: #5A1B81;
$dark-purple: #0E0C5B;

/* default Element background  color */

$body-bg: #313131;
$link-color: $flat-purple;

/* UI Navbar background  color */
$navbar-bg: $awesome-white;
$navigation-color: $flat-black2;
$navigation-hover-text-color: $flat-purple;
$navigation-language-button: $black;

/* UI Segments background  color */
$segment-hr : $flat-purple;
$segment-dark : $flat-black2;
$segment-dark-text-color: $awesome-white;
$segment-light : $awesome-white;
$segment-light-text-color: $flat-black2;

/* UI Skills Grid background  color */
$skills-title: $flat-purple;
$skills-title-color: $awesome-white;
$skills-progress: $flat-purple;
$skills-progress-bg: $awesome-white;

/* UI Experience background  color */
$experience-title: $flat-whiteCloud;
$experience-color: $awesome-white;
$experience-highlight-box: $flat-black;
$experience-job-title: $flat-purple;
$experience-border-color: $flat-graySmoke ;
$experience-date-bg: $flat-purple;

/* UI Timeline Education background  color */
$timeline-text-color: $flat-black;
$timeline-color-white: $awesome-white;

/* UI Hobbies background  color */
$hobbies-quotes-border: $awesome-white;

/* UI Footer background  color */
$footer-border: $awesome-white;
$footer-color: $gray;
$footer-bg: $awesome-white;
$download-bg: $flat-purple;


/* Loader color */

$loader-bg: linear-gradient(to bottom, $dark-purple, $flat-purple);
$loader-hexagon-color: $awesome-white;
