a {
    &.btn {
        text-decoration: none;
    }
}
.btn{
    background-color: $download-bg;
    color: $awesome-white;
    padding: 1em;
    border: 0;
    cursor: pointer;
}

.btn-o {
    background-color: $awesome-white;
    padding: 0.75em;
    border-radius: 25px;
    cursor: pointer;
    color: $flat-black;
    &:hover {
        text-decoration: none;
    }
}

.btn-l {
    cursor: pointer;
    color: $download-bg;
    &:hover {
        text-decoration: none;
    }
}
