.ui.custom.button{
    background-color: $download-bg;
    color: $awesome-white2;
    &.resume-download{
        box-shadow: 0 4px 0 0 $download-box;
    }
    &:hover{
        @include transform(translateY(-3px));
        box-shadow: 0 7px 0 0 $download-box;
        //@include animation-iteration-count(1);
    }
}
