/* Header */

.headerNav {
	background: $navbar-bg;
	height: 60px;
    position: fixed;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
	font-family: inherit;
	font-size: 1.5em;
	margin-left: 1em;
	a {
		color: $navigation-color;
		text-decoration: none;
		opacity: 1;
		@include transition(all 0.2s ease);
		&:hover {
			opacity: 0.85;
		}
	}
}

.ui.floating.dropdown.labeled.icon.button.language-button {
	display: none;
}
/* Mobile menu */
#menu-icon {
	display: block;
	font-size: 2.5rem;
	color: $navigation-color;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	padding: 0 .5em;

	&:hover {
		opacity: 0.85;
		text-decoration: none;
		border: none;
	}
}

.navigation-bar {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar {
	background-color: $navbar-bg;
	height: 0;
	overflow-y: scroll;
	@include transition(max-height .4s);
	&.active {
		height: 300px;
		border-top: 1px solid #e7e7e7;
    	border-bottom: 1px solid #e7e7e7;
	}
	.menu {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			list-style-type: none;
			display: block;
			&.language-responsive-button {
				display: block;
			}
			a {
				display: block;
				height: 50px;
    			padding: 15px;
				text-decoration: none;
				color: $navigation-color;
				@include transition(all 0.2s ease);

				&:hover {
					color: $navigation-hover-text-color;
				}

				&.active {
					color: $navigation-hover-text-color;
				}
			}
		}
	}
}

//increase the max-height if you add more links.
.expand {
	max-height: 20em;
}

@media only screen and (min-width : 904px) {

	.wrap {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		margin-left: 0;
	}

	.logo, .navbar {
		display: inline-block;
	}

	/* Mobile menu icon */
	#menu-icon {
		display: none;
	}
	.ui.floating.dropdown.labeled.icon.button.language-button {
		display: block;
	    float: right;
    	background-color: $navigation-language-button;
    	color: $navigation-color;
	}
	.navbar {
		height: 60px;
		overflow-y: hidden;

		.menu {
			li {
				list-style-type: none;
				display: inline-block;
				text-align: center;
				text-transform: capitalize;
				&.language-responsive-button {
					display: none;
				}
				a {
					display: block;
					border-bottom: 0;
					height: 60px;
					display: flex;
					align-items: center;
					padding-top: 20px;
				    padding-bottom: 20px;
				    font-size: 20px;

					&:hover {
						box-shadow: 0 -3px 0 $navigation-hover-text-color inset;
					}

					&.active {
						box-shadow: 0 -3px 0 $navigation-hover-text-color inset;
					}
				}
			}
		}
	}
}
