.segment.portfolio {
    position: relative;
    z-index: 1;
    .backgroundPattern {
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../images/starsBackgroundPattern.png");
        z-index: -1;
    }
    .portfolio-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            width: 35%;
            margin: 1.5em;
            background-color: $awesome-white;
            color: black;
            padding: 2em;
            border-radius: 12px;
            text-align: center;
            img {
                max-width: 120px;
            }
        }
    }
}
@media only screen and (max-width : 991px) {
    .segment.portfolio {
        .portfolio-cards {
            justify-content: center;
            .card {
                width: 90%;
            }
        }
    }
}
