.progress-wrapper {
    background-color: $skills-progress-bg;
    height: 2px;
    margin-top: 1em;
    .progress {
        background-color: $skills-progress;
        height: 100%;
        width: 0;
        position: relative;
        .skills-percent {
            position: absolute;
            right: 0;
            top: -25px;
            font-size: 15px;
        }
    }
}
