
/* Skills Grid */
.ui.text.container{
    &.skills-container {
        max-width: 1000px!important;
        .ui.stackable.four.column.grid{
            &.custom-grid{
                @include custom-grid;
            }
            .column:not(.row) {
                padding-top: 0;
                padding-bottom: 0;
            }
            .column{
                &.custom-column:first-child{
                    padding-top: 0!important;
                    border-top: 0;
                }
                &.custom-column {
                    text-align: left;
                    border-top: 1px solid;
                    border-color: $grid-border;
                    h3.skills-title {
                        background-color: $skills-title;
                        text-align: center;
                        color: $skills-title-color;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width : 768px) {
.ui.text.container{
    &.skills-container{
        .ui.stackable.four.column.grid{
                .column{
                    &.custom-column:first-child {
                        border-left: 0;
                    }
                    &.custom-column {
                        border-top: none;
                        border-left: 1px solid;
                        border-color: $grid-border;
                    }
                }
            }
        }
    }
}
