.ui.text.container {
    &.hobbies-container {
        max-width: 1000px!important;
        .segment-title {
            &.hobbies-title {
                margin-bottom: 15px;
            }
        }
        .ui.stackable.one.column.grid {
            &.hobbies-grid {
                margin-top: 0;
            }
        }
        i.icon {
            &.custom-icon-hobbies {
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        h3.hobbies-quotes-title {
            margin: 0;
            border-bottom: 1px solid;
            border-color: $hobbies-quotes-border;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;
        }
        h4.hobbies-quotes {
            margin: 0;
        }
        h5.hobbies-quotes-name {
            margin: 0;
        }
    }

}
