.ui.text.container{
    &.portfolio-container {
        max-width: 907px!important;
    }
    .ui.link.cards{
        &.portfolio-cards {
            margin-top: 20px;
        }
    }
}
@media only screen and (max-width : 635px) {
    .ui.text.container{
        .ui.link.cards{
            &.portfolio-cards {
                margin-left: auto;
                margin-right: auto;
                max-width: 290px;
            }
        }
    }

}
