/* Experience Grid */


.ui[class*="two column"].grid>{
    .column{
        &.column-experience-description:not(.row){
            width: 70%;
        }
        &.column-experience-date:not(.row){
            width: 30%;
        }
    }
}

.ui.text.container{
    &.experience-container {
        max-width: 1000px !important;
    }
    .ui.grid{
        .column:not(.row){
            &.column.column-experience-date{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        &.custom-grid-experience {
            margin-top: 20px;
            color: $experience-color;
            background-color: $experience-bg;
        }
        .ten.wide.column{
            &.custom-column-experience {
                text-align: left;
                padding: 15px;
                font-size: 20px;
                padding-right: 0;
                padding-bottom: 0;
            }
            p.experience-date {
                text-align: center;
                margin-left: auto;
                padding: 7px;
                max-width: 190px;
                background-color: $experience-date-bg;
            }
        }
        .six.wide.column{
                &.custom-column-experience {
                    padding: 20px;
                    font-size: 20px;
                    background-color: $experience-title;
                    color: $experience-job-title;
                    border: 1px solid;
                    border-color: $experience-border-color;
                h4.experience-job-title {
                    margin-top: 0;
                }
            }
        }
    }
}


@media only screen and (min-width : 768px) {
    .ten.wide.column{
        &.custom-column-experience {
            padding-bottom: 15px;
        }
    }
    .six.wide.column{
        &.custom-column-experience {
            font-size: 30px;
        }
    }
}
