.ui.inverted.vertical.footer.segment{
    &.custom-footer {
        @include custom-footer;
        text-align: center;
        #copyright {
            margin-top: 30px;
        }
        .social-container {
            padding: 10px;
            .twitter-icon{
                background-color: $twitter-bg;
            }
            a:hover, a:visited, a:link, a:active
            {
                text-decoration: none;
            }
            i.circular.inverted{
                margin-right: 10px;
            }
        }
    }
}
