/* Navigation *//* Header */

.headerNav {
    position: relative;
	width: 100%;
	height: 50px;
    z-index: 1030;
}

.wrap {
	max-width: 960px; /* Changge this with your max-width size */
	margin: 0 auto;
}
